$drawer-width: 240px;

$navbar-width: calc(100% - $drawer-width);
$navbar-height: 4rem;

$page-width: $navbar-width;
$page-height: calc(100% - $navbar-height);
$item-height : 150px;
$item-width : 65%;
$item-margin : 1.6rem 0