.c-page {
    display : flex;
    justify-content : center;
    flex : 1;
    background : $page-background;
}

.c-item {
    margin : $item-margin;
    padding : $item-padding;
    height : $item-height;
    width : $item-width;
    border-radius : 5px;
    background : $page-item;
    box-shadow: 0.05rem 0.05rem $item-shadow;
    border: 0.1rem solid $item-border;

    &__title {
        text-align : center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: $title-size;
        font-weight : $title-weight;
        color: $item-title;
    }
    
    &__select {
        display : flex;
        padding : $select-padding;
        align-items : center;
        margin : $select-margin;
        
    
        &:hover {
            background: $select-hover;
        }
    
    }

    &__icon {
        margin-right : 2rem;
        font-size: 1.25rem;
        color: $select-icon;
    }

    &__text {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.05rem;
        color: $select-text;
    }
}

