.c-drawer {
    flex : 1;
    // background : red;
    width : $drawer-width;
    border-top: 1px solid $drawer-border;
    border-left: 1px solid $drawer-border;
    border-right: 1px solid $drawer-border;

    &__top {
        display : flex;
        align-items : flex-end;
        justify-content: center;
        height : 130px;
        border-bottom: 1px solid $drawer-border;
    }
}