$drawer-width: 240px;

$navbar-width: calc(100% - $drawer-width);
$navbar-height: 4rem;

$page-width: $navbar-width;
$page-height: calc(100% - $navbar-height);
$item-height : 150px;
$item-width : 65%;
$item-margin : 1.6rem 0;
$item-padding : 1.3rem;
$title-size : 2rem;
$title-weight : 400;
$select-padding : 0.9rem;
$select-margin : 1.5rem 0 0 0;